.App {
    font-family: sans-serif;
    text-align: center;
    margin: 20px;
}

@font-face {
    font-family: "Glass Antiqua";
    src: url(/Fonts//GlassAntiqua-Regular/GlassAntiqua-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Kalnia", serif;
    src: url(/Fonts//Kalnia/Kalnia-VariableFont_wdth\,wght.ttf) format("truetype");
}

@font-face {
    font-family: "HelveticaWorld";
    src: url(/Fonts/HelveticaWorld/HelveticaWorld-Bold.ttf) format("truetype");
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 10px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 1000px;
    margin: 0 auto;
    border-radius: 25px;
}

header p {
    margin: 0;
    padding: 0px 25px;
}

.forecasthub {
    font-family: "Glass Antiqua";
    color: #18391a;
    font-size: 35px;
}

.weather {
    font-family: "Kalnia", serif;
    color: #18391a;
    font-size: 48px;
    margin-top: -3;
}

.search-input {
    background-color: transparent;
    color: #18391a;
    border-radius: 25px;
    border: solid 6px #18391a;
    font-size: 16px;
    padding: 20px;
    width: 500px;
}

.search-button {
    margin-left: 5px;
    font-size: 16px;
    background-color: transparent;
    border: solid 6px #18391a;
    border-radius: 25px;
    color: #18391a;
    padding: 20px 20px;
    line-height: 1;
    cursor: pointer;
}

body {
    margin: 0 auto;
}

.current-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: #18391a;
    border-radius: 30px;
    height: 500px;
    width: 1000px;
    padding: 14px;
}

.blocks {
    display: flex;
}

.left,
.forecast {
    display: flex;
    flex-direction: column;
    border: solid 6px;
    border-radius: 30px;
    border-color: #3a5a40;
    height: 400px;
    width: 450px;
    margin: 10px;
    margin-top: 25px;
    font-family: "HelveticaWorld";
}

.left {
    background-image: linear-gradient(60deg,
            hsl(124deg 41% 16%) 0%,
            hsl(122deg 32% 21%) 42%,
            hsl(121deg 27% 26%) 59%,
            hsl(120deg 23% 31%) 70%,
            hsl(119deg 21% 37%) 82%,
            hsl(119deg 19% 42%) 100%);
    display: flex;
    justify-content: space-between;
}

.forecast {
    margin-left: 10px;
    flex-wrap: wrap;
}

.current {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.current-temperature {
    font-size: 48px;
}

.current-city {
    color: #fff;
    font-size: 50px;
    font-weight: 800;
    margin: 10px;
}

.current-temperature-value {
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    margin: 10px;
}

.current-temperature-unit {
    font-size: 28px;
    position: relative;
    top: -38px;
    color: #fff;
}

.current-temperature-icon img {
    width: 150px;
    height: 150px;
}

.current-details {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    margin: 40px;
}

.current-details strong {
    color: #b6c4b6;
}

.subscribe {
    font-family: "Glass Antiqua";
    color: #fff;
    font-size: 24px;
}

.weather-forecast-day {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 110px;
    height: 170px;
    background-color: transparent;
    border-radius: 40px;
    border: solid 6px #3a5a40;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 9px;
}

.weather-forecast-date {
    text-align: center;
    color: #b6c4b6;
    font-size: 18px;
    margin-top: 10px;
}

.weather-forecast-icon {
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
}

.weather-forecast-temperatures {
    color: #b6c4b6;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.weather-forecast-temperature {
    padding: 0 10px;
    font-size: 18px;
}

.subscribe {
    cursor: pointer;
    color: #ffff;
}

.subscribe-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #18391a;
    color: #fff;
    border-radius: 40px;
    border: solid 6px #3a5a40;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.subscribe-popup label,
.subscribe-popup input,
.subscribe-popup button {
    display: block;
    margin-bottom: 10px;
}

.subscribe-popup button {
    background-color: transparent;
    color: #fff;
    border: solid 1px #3a5a40;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

footer p {
    font-family: "Glass Antiqua";
    color: #18391a;
    font-size: 18px;
    text-align: center;
}